/* --- Colores --- */
:root {
    --color-primary: #38333;  
    --color-secondary: #61533F;
    --color-tertiary: #846860;
    --color-quaternary: #A06F42;
    --color-quinary: #A3896F;
    --color-senary: #ACA497;
    --color-septenary: #BFB6AC;
    --color-octonary: #D5C3A7;
}

/* --- Tipografías --- */
@font-face {
    font-family: 'Archivo Black';
    src: url('./fonts/ArchivoBlack-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Kollektif';
    src: url('./fonts/Kollektif.ttf') format('truetype'); /* Para la fuente normal */
  }
  
  @font-face {
    font-family: 'Kollektif';
    src: url('./fonts/Kollektif-Bold.ttf') format('truetype'); /* Para la versión Bold */
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Kollektif';
    src: url('./fonts/Kollektif-Italic.ttf') format('truetype'); /* Para la versión Italic */
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Kollektif';
    src: url('./fonts/Kollektif-BoldItalic.ttf') format('truetype'); /* Para la versión Bold Italic */
    font-weight: bold;
    font-style: italic;
  }
  

/* --- Estilos generales --- */
body {
  font-family: 'Kollektif', sans-serif;
  background-color: var(--color-octonary);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}

/* --- Encabezados --- */
h1, h2, h3, h4 {
  font-family: 'Archivo Black', sans-serif;
  color: var(--color-primary);
}

/* --- Botones --- */
button {
  background-color: var(--color-secondary);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Kollektif', sans-serif;
}

button:hover {
  background-color: var(--color-quaternary);
}

