/* =======================
   VARIABLES GLOBALES
   ======================= */

/* --- Colores --- */
:root {
  --color-primary: #1e293b;        /* Azul oscuro */
  --color-secondary: #f8fafc;      /* Gris muy claro */
  --color-tertiary: #84C8C0;       /* Verde claro */
  --color-quaternary: #C9E8F5;     /* Celeste pastel */
  --color-quinary: #94a3b8;        /* Gris azulado intermedio */
  --color-senary: #334155;         /* Azul grisáceo */
  --color-septenary: #cbd5e1;      /* Gris azulado claro */
  --color-octonary: #0f172a;       /* Fondo principal */
  --color-novenary: #ffffff;       /* Blanco */
  --colo-texto-negro: #000000;
  --colo-texto-blanco: #ffffff;
}


/* =======================
   TIPOGRAFÍAS
   ======================= */

@font-face {
  font-family: 'Archivo Black';
  src: url('./fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Kollektif';
  src: url('./fonts/Kollektif.ttf') format('truetype');
}

@font-face {
  font-family: 'Kollektif';
  src: url('./fonts/Kollektif-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Kollektif';
  src: url('./fonts/Kollektif-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Kollektif';
  src: url('./fonts/Kollektif-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


/* =======================
   ESTILOS GENERALES
   ======================= */

body {
  font-family: 'Kollektif', sans-serif;
  background-color: var(--color-octonary);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}


/* =======================
   ENCABEZADOS
   ======================= */

h1, h2, h3, h4 {
  font-family: 'Archivo Black', sans-serif;
  color: var(--color-primary);
}


/* =======================
   BOTONES
   ======================= */

button {
  background-color: var(--color-quaternary); /* Verde agua fuerte */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Kollektif', sans-serif;
}


button:hover {
  background-color: var(--color-tertiary); /* Verde más suave al pasar el mouse */
}



/* =======================
   ÍCONOS SVG EN NAVEGACIÓN
   ======================= */

.icon-circle svg {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  fill: none;
}

.icon-circle {
  color: var(--color-novenary); /* Blanco */
}

.nav-item:hover .icon-circle {
  color: var(--color-secondary); /* Verde agua al pasar el mouse */
}
